{
    "trailingComma": "es5",
    "tabWidth": 4,
    "semi": false,
    "singleQuote": false,
    "printWidth": 60,
    "proseWrap": "always",
    "plugins": ["@trivago/prettier-plugin-sort-imports"],
    "importOrder": [
        "<THIRD_PARTY_MODULES>",
        "^@/components/(.*)$",
        "^react$",
        "^[./]"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true
}
