@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
 .skeleton-holder {
    @apply [&>*:nth-child(3)]:sm:hidden [&>*:nth-child(3)]:lg:block [&>*:nth-child(2)]:sm:hidden [&>*:nth-child(2)]:md:block
 }
}

::-webkit-scrollbar {
  display: none;
}

.pattern {
    background-color: #09090b;
    opacity: 1;
    background-image: radial-gradient(#27272a 1.55px, #09090b 1.55px);
    background-size: 31px 31px;
 }