@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html,
    body {
        @apply text-white bg-zinc-950 min-h-screen;
    }

    ::-webkit-scrollbar {
        display: none !important;
    }

    .no-scrollbar {
        -ms-overflow-style: none !important;
        scrollbar-width: none !important;
    }
}

@layer components {
    .text-gradient-white {
        @apply bg-gradient-to-br from-white to-zinc-500 bg-clip-text text-transparent;
    }
}
